<% layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>create new listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"
        novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control"required >
            <div class="valid-feedback">Title looks good</div>
        
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  value="<%= listing.description %>"  class="form-control" required >
                
            </textarea>
                <div class="invalid-feedback">please enter description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input name="listing[image.url]"  value="<%=listing.image%>" class="form-control "required>
            <div class="invalid-feedback">image url should be valid</div>
        
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]"  value="<%=listing.price %>" type="number" class="form-control" required>
            <div class="invalid-feedback">price should be valid</div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]"  value="<%=listing.country %>" type="text" class="form-control" required>
            <div class="invalid-feedback">country should be valid</div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="listing[location]"  value="<%=listing.location %>" type="text" class="form-control" required>
            <div class="invalid-feedback">locationshould be valid</div>
        </div>
        
        <button class="btn btn-dark edit-btn mt-3">add</button>
    </form>
        </div>
    </div>
    
    
</body>
