<% layout("/layouts/boilerplate")%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3 class="listing_details offset-3"><%=listing.title %></h3>
    <div class="card listing-card show-card">
      <div class="card col-6 offset-3 " style="width: 18rem;">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing_image">
        <div class="card-body">
          <p class="card-text">
            <%=listing.description %> <br>
            &#8377;<%=listing.price.toLocaleString("en-IN")%><br>
            <%=listing.location %><br>
            <%=listing.country %><br>
          </p>
          <div class="col-3 btns">
            <form method="GET" action="/listings/<%= listing._id %>/edit">
                <button class="btn btns btn-dark edit ">Edit</button>
            </form>
        </div>
        <div class="col-3 btns">
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btns btn-dark delete ">Delete</button>
            </form>
        </div>
      </div>
    </div>
    <br>
    <div class="col-8 offset-3 mb-3">
      <hr>
      <h4>Leave a review</h4>
      <form action="/listings/<%= listing.id%>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" min="1"  max="5" id="rating" name="review[rating] " class="form-range" >
        </div>
         
        <div class="mb-3 mt-3" >
          <label for="comment" >comment</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="5"class="form-control" required></textarea>
          <div class="invalid-feedback">please enter some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">submit</button>

      </form>
      <hr>
      <p><b>All reviews</b></p>
      
      <div class="row">
      <% for(review of listing.reviews){ %>
        <div class="card col-6  mb-3">
          <div class="card-body">
            <h5 class="card-title">jane doe</h5>
            <p class="card-text"><%=review.comment%> </p>
            <p class="card-text"><%=review.rating %>stars</p>
            <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
              <button class="btn tbn-sm btn-dark">Delete</button>
            </form>
          </div>
          </div>

     <% } %>
      
    </div>
</div>
</div>
</body>
